img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.inner-body {
    text-align: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
